<h1> Enter YoUR ISBNs FoR VaLiDaTIoN: <h1>

  <form method="post" action="/isbn">
    <input type = "text" name = "i10"> ISBN10 <br>
    <input type = "text" name = "i13"> ISBN13 <br>
  </form>
